<div class="container">
  <div class="row">
    <div class="col">
    
<div class="card col">
  <h4 class="text-center">投稿一覧</h4>
  <% @articles.each do |article| %>
  <div class="card-header">
  <table>
    <tr>
      <td><%= image_tag article.user.get_image(50, 50) %></td>
      <td><%= link_to article.user.name, admin_user_path(article.user.id) %></td>
      <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      <td>お気に入り数：<%= article.favorites.count %></td>
      <td>コメント数: <%= article.article_comments.count %></td>
    </tr>
  </table>
  </div>
  <div class="card-body col">
    <blockquote class="blockquote mb-0">
      <p><%= link_to article.title, admin_article_path(article.id) %></p>
    </blockquote>
  </div>
  <%= paginate @articles %>
  <% end %>
</div>
</div>
</div>
</div>

