<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
       <%#ユーザーの画像取得%>
       <% if @user.image.attached? %>
        <%= image_tag @user.get_image(200, 200),class: "bd-placeholder-img mr-3 rounded-circle", width: "200", height: "200"%>
       <% else %>
        <%= image_tag 'no_image.jpg', size: "200x200", class: "bd-placeholder-img mr-3 rounded-circle" %>
       <% end %>
      <div class="card-body text-center">
         <h5 class="card-title" style="word-wrap: break-word;"><%= link_to @user.name, admin_user_path(@user.id), style: "color: black;" %></h5>
         <%# メールアドレスが長い場合、<br>タグで改行 %>
         <h6 class="card-title" style="word-wrap: break-word;"><%=safe_join(@user.email.split("\n"),tag(:br))%></h6>
          <% if @user.is_deleted == false %>
            <h6>ステータス：有効</h6>
          <% else %>
            <h6>ステータス：退会</h6>
          <% end %>
      </div>
      <div class="card-body">
          <%= link_to "プロフィールを編集する", edit_admin_user_path(@user.id), class: "btn btn-light" %>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body text-center">
        <h4 class="card-title" style="word-wrap: break-word;"> <%= @article.title %></h4>
        <%= link_to "削除", admin_article_path(@article.id), method: :delete,"data-confirm" => "本当に消しますか？", class:"btn btn-danger" %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to admin_user_path(@user.id) do %> 
          <%= image_tag @user.get_image(50, 50), class: "bd-placeholder-img mr-3 rounded-circle", width: "64", height: "64" %> 
          <% end %>
          <%= link_to @user.name,admin_user_path(@user.id), style: "color: black;" %> 
          <span style="color: gray;"><%= @article.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </li>
      </ul>
      <div class="card">
      <div class="card-body" style="word-wrap: break-word;">
        <%# 記事本文を掲載。<br>タグで改行を反映%>
        <%= safe_join(@article.body.split("\n"),tag(:br))%>
      </div>
      </div>
      <div>
        <table>
          <tr>
            <td><span style="color: gray;">お気に入り数:<%= @article.favorites.count %></span></td>
            <td><span style="color: gray;">コメント数: <%= @article.article_comments.count %></span></td>
          </tr>
        </table>
      </div>
      <div>
        <%= render "admin/article_comments/index", article: @article %>
      </div>
    </div>
  </div>
</div>

