<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
       <% if @user.image.attached? %>
        <%= image_tag @user.get_image(200, 200)  %>
       <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
       <% end %>
      <div class="card-body text-center">
         <h5 class="card-title"><%= link_to @user.name, admin_user_path(@user.id) %></h5>
         <h6 class="card-title"><%=safe_join(@user.email.split("\n"),tag(:br))%></h6>
          <% if @user.is_deleted == false %>
            <h6>ステータス：有効</h6>
          <% else %>
            <h6>ステータス：退会</h6>
          <% end %>
      </div>
    <div class="card-body">
        <%= link_to "プロフィールを編集する", edit_admin_user_path(@user.id), class: "btn btn-light" %>
    </div>
    </div>
    <div class="col">
      <div class="card-body text-center">
        <h4 class="card-title"> <%= @article.title %></h4>
        <%= link_to "削除", admin_article_path(@article.id), method: :delete, class: "btn btn-danger" %>
      </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= image_tag @user.get_image(50, 50) %> <%= link_to @user.name,admin_user_path(@user.id) %> <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %></li>
  </ul>
  <div class="card">
  <div class="card-body">
    <%=safe_join(@article.body.split("\n"),tag(:br))%>
  </div>
  </div>
  <div>
    <table>
      <tr>
        <td>お気に入り数:<%= @article.favorites.count %></td>
        <td>コメント数: <%= @article.article_comments.count %></td>
      </tr>
    </table>
  </div>
  <div>
    <%= render "admin/article_comments/index", article: @article %>
  </div>
    </div>
    </div>

  </div>
</div>

