<div class="text-center">
  <%= link_to root_path do %>
  <%= image_tag "Football_days4.jpg" %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Football daysへようこそ！！</h4>
      <p class="text-center">ログインをすると記事の投稿・コメントができます！</p>
      <div class="text-muted"><p class="text-center"><i class="fa-sharp fa-solid fa-blog"></i>最近の投稿</p></div>
      <div class="card col">
        <% @articles.each do |article| %>
        <div class="card-body" style="border-bottom: 1px solid #dee2e6;">
          <div class="media">
            <%= link_to user_path(article.user.id) do %>
            <%= image_tag article.user.get_image(64, 64), class: "bd-placeholder-img mr-3 rounded-circle", width: "64", height: "64" %>
            <% end %>
            <div class="media-body">
              <%= link_to article.user.name, user_path(article.user.id), style: "color: black;" %>
              <span style="color: gray;"><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></span>
              <h5 class="mb-0 text-break"><%= link_to article.title, article_path(article.id), style: "color: black;" %></h5>
              <%= render 'public/favorites/btn', article: article %>
              <i class="fa-sharp fa-solid fa-comments" style="color: rgb(177, 224, 184);"></i><span style="color: rgb(177, 224, 184);"><%= article.article_comments.count %></span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="text-right">
        <%= link_to articles_path, style: "color: rgb(0, 43, 128);" do %>
         <i class="fa-solid fa-list"></i>投稿一覧はこちら>>
        <% end %>
      </div>
    </div>
  </div>
</div>






