<div class="text-center"><%= image_tag "Football_days3" %></div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Football daysへようこそ！！</h4>
      <p class="text-center">ログインをすると記事の投稿・コメントができます！</p>
      <div class="card col">
        <p class="text-center">最近の投稿</p>
        <% @articles.each do |article| %>
        <div class="card-body" style="border-bottom: 1px solid #dee2e6;">
          <div class="media">
            <%= image_tag article.user.get_image(64, 64), class: "bd-placeholder-img mr-3 rounded-circle", width: "64", height: "64" %>
            <div class="media-body">
              <%= link_to article.user.name, user_path(article.user.id) %>
              <%= article.created_at.strftime('%Y/%m/%d %H:%M') %>
              <p class="mb-0 text-break"><%= link_to article.title, article_path(article.id) %></p>
              <%= render 'public/favorites/btn', article: article %>
              コメント数: <%= article.article_comments.count %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= link_to "投稿一覧はこちら>>", articles_path %></p>
    </div>
  </div>
</div>






