
<table class="table table-hover" style="table-layout: fixed;">
  <tbody>
      <% article.article_comments.order(created_at: :desc).each do |article_comment| %>
      <tr>
        <td style="word-wrap: break-word;">
          <%= link_to admin_user_path(article_comment.user) do %>
            <%= image_tag article_comment.user.get_image(50,50) %><br>
            <%= article_comment.user.name %>
          <% end %>
        </td>
        <td><%= article_comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td style="word-wrap: break-word;"><%=safe_join(article_comment.comment.split("\n"),tag(:br))%></td>
        <td>
            <%= link_to "削除", admin_article_article_comment_path(article, article_comment), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

