<table class='table table-hover table-inverse'style="table-layout: fixed;">
  <thead>
    <tr>
      <th>user</th>
      <th>タイトル</th>
      <th>投稿日時</th>
    </tr>
  <tbody>
    <% articles.each do |article| %>
      <tr>
        <td><%= link_to(article.user) do %>
          <%= image_tag article.user.get_image(50,50), class: "bd-placeholder-img mr-3 rounded-circle", width: "50", height: "50" %>
          <% end %>
          <%= link_to article.user.name, user_path(article.user.id) %>
        </td>
        <td style="word-wrap: break-word;"><%= link_to article.title,article, class: "article_#{article.id}" %></td>
        <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
