<table class='table'style="table-layout: fixed;">
  <thead>
    <tr>
      <th><span style="color: gray;">user</span></th>
      <th><span style="color: gray;">メールアドレス</span></th>
      <th><span style="color: gray;">ステータス</span></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td style="word-wrap: break-word;">
          <% if user.image.attached? %>
            <%= link_to admin_user_path(user.id) do %>
            <%= image_tag user.get_image(50, 50), class: "bd-placeholder-img mr-3 rounded-circle", width: "50", height: "50"  %>
            <% end %>
          <% else %>
            <%= link_to admin_user_path(user.id) do %>
            <%= image_tag 'no_image.jpg', size: '50x50', class: "bd-placeholder-img mr-3 rounded-circle" %>
            <% end %>
          <% end %>
          <%= link_to user.name, admin_user_path(user.id), style: "color: black;" %>
        </td>
        <td style="word-wrap: break-word;"><%= user.email %></td>
          <% if user.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

