<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
       <% if @user.image.attached? %>
        <%= image_tag @user.get_image(200, 200)  %>
       <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
       <% end %>
      <div class="card-body text-center">
        <h5 class="card-title"style="word-wrap: break-word;"><%= link_to @user.name, admin_user_path(@user.id) %></h5>
         <h6 class="card-title"style="word-wrap: break-word;"><%=safe_join(@user.email.split("\n"),tag(:br))%></h6>
          <% if @user.is_deleted == false %>
            <h6>ステータス：有効</h6>
          <% else %>
            <h6>ステータス：退会</h6>
          <% end %>
      </div>
      <div class="card-body">
          <%= link_to "プロフィールを編集する", edit_admin_user_path(@user.id), class: "btn btn-light" %>
      </div>
    </div>
  <div class="col-md-9">
   <div class="card-body">
    <% @articles.each do |article| %>
    <div class="card-header">
      <table class="table table-hover" style="table-layout: fixed;">
        <tr>
          <td><%= image_tag @user.get_image(50, 50) %></td>
          <td style="word-wrap: break-word;"><%= link_to @user.name,admin_user_path(@user.id) %></td>
          <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          <td>お気に入り数：<%= article.favorites.count %></td>
          <td>コメント数: <%= article.article_comments.count %></td>
        </tr>
      </table>
    </div>
    <div class="card-body col">
      <blockquote class="blockquote mb-0">
        <p style="word-wrap: break-word;"><%= link_to article.title, admin_article_path(article.id) %></p>
      </blockquote>
    </div>
  <%= paginate @articles %>
  <% end %>
  </div>
 </div>
</div>





