<div class="container">
  <div class="row">
    <div class="card col-md-3 text-center" style="width: 18rem;">
   <% if @user && @user.image.attached? %>
    <%= image_tag @user.get_image(200, 200)  %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">フォロー</li>
    <li class="list-group-item">フォロワー</li>
  </ul>
  <div class="card-body">
    <% if @user.id == current_user.id %>
    <%= link_to "プロフィールを編集する", edit_user_path(current_user.id), class: "btn btn-light" %>
    <% else %>
     <%= link_to "フォロー",  class: "btn btn-light" %>
    <% end %>
  </div>
</div>
 <div class="card col-md-8">
  <% @articles.each do |article| %>
  <div class="card-header">
    <table>
      <tr>
        <td><%= image_tag @user.get_image(50, 50) %></td>
        <td><%= @user.name %></td>
        <td><%= article.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= render 'public/favorites/btn', article: article %></td>
      </tr>
    </table>
   
  </div>
  <div class="card-body col">
    <blockquote class="blockquote mb-0">
      <p><%= link_to article.title, article_path(article.id) %></p>
    </blockquote>
  </div>
  <% end %>
</div>





