<div class="container">
  <div class="row">
    <div class="col-md-3 text-center">
       <% if @user.image.attached? %>
        <%= image_tag @user.get_image(200, 200)  %>
       <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
       <% end %>
      <div class="card-body">
        <h5 class="card-title"style="word-wrap: break-word;"><%= link_to @user.name, user_path(@user.id) %></h5>
      </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">フォロー<%= link_to @user.followings.count, user_followings_path(@user) %></li>
    <li class="list-group-item">フォロワー<%= link_to @user.followers.count, user_followers_path(@user) %></li>
  </ul>
    <div class="card-body">
       <% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "プロフィールを編集する", edit_user_path(current_user.id), class: "btn btn-light" %>
       <% else %>
        <td><%= render "public/relationships/btn", user: @user %></td>
       <% end %>
    </div>
    </div>
  <div class="col-md-9">
 <div class="card-body">
  <% @articles.each do |article| %>
  <div class="card-header">
    <table class="table" style="table-layout: fixed;">
      <tr>
        <td style="word-wrap: break-word;">
          <%= image_tag @user.get_image(50, 50) %></br>
          <%= link_to @user.name,user_path(@user.id) %></td>
        <td><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= render 'public/favorites/btn', article: article %></td>
        <td>コメント数: <%= article.article_comments.count %></td>
      </tr>
    </table>
  </div>
  <div class="card-body" style="word-wrap: break-word;">
    <blockquote class="blockquote mb-0">
      <p><%= link_to article.title, article_path(article.id) %></p>
    </blockquote>
  </div>
  <% end %>
</div>
<%= paginate @articles %>
</div>





